RewriteEngine On

# Read the domains from the HOSTS file and store them in the RewriteMap
RewriteMap hosts txt:/path/to/HOSTS

# Set the environment variable 'ALLOW_ACCESS' to '1' if the domain is in the RewriteMap
RewriteCond %{ENV:hosts:%{HTTP_HOST}} =1
RewriteRule ^ - [E=ALLOW_ACCESS:1]

# Deny access to the folder if the environment variable 'ALLOW_ACCESS' is not set
RewriteCond %{ENV:ALLOW_ACCESS} !=1
RewriteRule ^ - [F]
