html {
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #f1f1f1;
  background-image: url("../img/background.png");
  background-repeat: repeat;
  margin: 0;
  font-size: 16px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0078d7;
  border-bottom: 2px solid #2ecc71;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

.logout-btn {
  background-color: white;
  color: #0078d7;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 16px;
}

.logout-btn:hover {
  background-color: #0078d7;
  color: white;
}

.section {
  background-color: #ffffff;
  border: 2px solid #2ecc71;
  margin: 20px;
  padding: 20px;
}

.section .section {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border: 2px solid #2ecc71;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  max-width: 400px;
}

.log-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.log-columns {
  font-size: 12px;
  width: 17%;
  line-break: anywhere;
}

.log-sub-box {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border: 2px solid #2ecc71;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 20px;
  padding: 10px;
}

.log-sub-box > h3 {
    margin-top: 0px;
}

.log-entry {
  font-size: 10px;
  margin: 0px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
}

/* Form */
.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 8px 20px;
  width: 49%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.form-group > input[type="submit"] {
margin-top: 20px;
width: 100%;
}

.section > form > input[type="submit"] {
  margin-top: 20px!important;
  width: 100% !important;
}

form > input[type="submit"] {
  margin-top: 20px;
  width: 100%!important;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
  box-shadow: rgba(0, 0, 0, 0.07) 1.5px 1.5px 2.2px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

/* For screens up to 767px wide */

/* Styles for smaller screens */
@media (max-width: 767px) {
  header > img {
    margin: 0 auto 10px 0;
  }

  .section {
    border: 2px solid #ffffff;
    margin: 0 0 39px 0;
    padding: 0 20px;
  }

  .log-columns {
    width: 100%;
  }

  .row {
    flex-direction: column;
    margin-right: -35px;
    margin-left: -35px;
  }

  .column {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .logout-btn {
    margin: 10px 0 10px auto;
  }

  thead > tr th:nth-child(3) {
    width: 80px;
  }

  input[type="submit"] {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 6em;
    padding: 4px 10px;
  }

  .form-group>input[type="submit"] {
  margin-bottom: 20px;
  }

  form>input[type="submit"] {
  margin-top: 0px;
  width: 100% !important;
  }

  .section>form>input[type="submit"] {
      margin-bottom: 20px;
  }
}
